<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <h2 class="mb-3">About</h2>
        <P> test 사이트 입니다</p>
    </div>
</body>
</html>